.menu {
  position: fixed;
  top: 0;
  left: -550px;
  width: 19.75rem;
  height: 46.625rem;
  background-color: var(--white);
  transition: right 0.3s ease;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menuOpen {
  left: 0;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 9;
}
.container {
  margin: 1.35rem 2.31rem 0 1.69rem;
  height: 100%;
}
.navList {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.navLink {
  color: var(--black);
  font-family: var(--ff-2);
  font-size: 1rem;
  line-height: 0.8;
  font-weight: 500;
}
