table {
  width: 100%;
  height: fit-content;
  border-collapse: collapse;
  width: 100%;
}
thead {
  height: 3.4375rem;
  background-color: var(--powdered);
}
th {
  color: var(--black);
  font-family: var(--ff-2);
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}
.headerImg {
  width: 6.25rem;
}
.emptyCart p {
  color: var(--dark-gray);
  font-family: var(--ff-2);
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  table {
    display: block;
  }
  thead {
    display: none;
  }
  tbody {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  table {
    width: 67%;
  }
  .emptyCart p {
    font-size: 1.5rem;
    margin: 3rem 0;
  }
}

@media screen and (min-width: 1400px) {
  table {
    width: 51.0625rem;
  }
}
