.cart {
  width: 100%;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 4.5rem 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.cartTotals {
  width: 100%;
  height: 24.375rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background-color: var(--powdered);
}
.cartTotalsTitle {
  color: var(--black);
  font-family: var(--ff-2);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.subtotalText,
.totalText {
  color: var(--black);
  font-family: var(--ff-2);
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  column-gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.subtotalAmount {
  color: var(--dark-gray);
  font-family: var(--ff-2);
  font-size: 1rem;
  font-weight: 400;
}
.totalAmount {
  color: var(--gold);
  font-family: var(--ff-2);
  font-size: 1.25rem;
  font-weight: 500;
}
.checkoutButton {
  width: 13.875rem;
  height: 3.68463rem;
  border-radius: 0.9375rem;
  border: 1px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-family: var(--ff-2);
  font-size: 1.25rem;
  font-weight: 400;
  margin: 3rem 0 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.checkoutButton:hover{
  border-color: var(--gold);
  color: var(--white);
}
.checkoutButton::before{
  content: "";
  display: block;
  position: absolute;
  background: var(--gold);
  width: 120%;
  height: 110%;
  top: 0;
  left: 0;
  left: 0;
  transform: rotate3d(0,0,1,4deg) translate3d(-1em,108%,0);
  transform-origin: 0% 100%;
  will-change: transform;
  z-index: -1;
  transition: transform .2s cubic-bezier(.17,.67,.83,.67);
}
.checkoutButton:hover::before{
  transform: rotate3d(0,0,1,0) translateZ(0);
}
.empty{
  width: 100%;
  height: fit-content;
  background-color: var(--powdered);
}
.empty p {
  color: var(--dark-gray);
  font-family: var(--ff-2);
  font-size: 1rem;
  font-weight: 400;
  margin: 3rem 0;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .cartTotals {
    width: 24.5625rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 4.5rem 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 4.5rem 6.25rem;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0;
  }
  table {
    width: 67%;
  }
  table .image {
    width: 4.5625rem;
    height: 4.5625rem;
  }
  .cartTotals {
    width: 30%;
  }
  .empty{
    width: 60%;
  }
  .empty p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1400px) {
  table {
    width: 51.0625rem;
  }
  .cartTotals {
    width: 24.5625rem;
  }
  table .image {
    width: 6.5625rem;
    height: 6.5625rem;
  }
}
