.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding: 0 1rem;
}
.label {
  color: var(--black);
  font-family: var(--ff-2);
  font-size: 1rem;
  font-weight: 500;
}
.formGroup {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}
.input {
  width: 100%;
  height: 4.6875rem;
  border-radius: 0.625rem;
  border: 1px solid var(--dark-gray);
  background: var(--white);
  color: var(--black);
  font-family: var(--ff-2);
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
}
.input::placeholder {
  color: var(--dark-gray);
  font-family: var(--ff-2);
  font-size: 1rem;
  font-weight: 400;
}
.textarea {
  width: 100%;
  height: 7.5rem;
  border-radius: 0.625rem;
  border: 1px solid var(--dark-gray);
  background: var(--white);
  color: var(--black);
  font-family: var(--ff-2);
  font-size: 1rem;
  padding: 1rem;
}
.textarea::placeholder {
  color: var(--dark-gray);
  font-family: var(--ff-2);
  font-size: 1rem;
  font-weight: 400;
}
.submitButton {
  width: 14.8125rem;
  height: 3.4375rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--gold);
  background: var(--gold);
  color: var(--white);
  font-family: var(--ff-2);
  font-size: 1rem;
  font-weight: 400;
  align-self: flex-start;
}
.error{
  display: block;
  color: var(--red);
  font-family: var(--ff-2);
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (min-width: 576px) {
    .contactForm{
        padding: 0;
    }
}
@media screen and (min-width: 768px) {
    .contactForm{
        padding: 0 3rem;
    }
    .input{
        width: 25rem;
    }
    .textarea{
        width: 25rem;
    }
}
@media screen and (min-width: 992px) {
    .input{
        width: 33.04688rem;
    }
    .textarea{
        width: 32.9375rem;
    }
}