.cartItem {
    width: 100%;
    display: flex;
    column-gap: 1rem;
    position: relative;
  }
  
  .btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .cartImage {
    width: 4.625rem;
    height: 4.625rem;
    border-radius: 0.625rem;
    background: rgba(184, 142, 47, 0.22);
    overflow: hidden;
  }
  
  .cartImage img {
    width: 100%;
    object-fit: cover;
  }
  
  .cartDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .productName {
    color: var(--black);
    font-family: var(--ff-2);
    font-size: 0.875rem;
    font-weight: 400;
  }
  
  .subtotal {
    color: var(--black);
    font-family: var(--ff-2);
    font-size: 0.875rem;
    font-weight: 300;
  }
  
  .price {
    color: #b88e2f;
    font-family: var(--ff-2);
    font-size: 0.75rem;
    font-weight: 500;
  }
  
  @media screen and (min-width: 576px) {
    .cartItem {
      column-gap: 1.5rem;
    }
  
    .cartImage {
      width: 6.5625rem;
      height: 6.5625rem;
    }
  
    .productName,
    .subtotal {
      font-size: 1rem;
    }
  }
  