.cartItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
  }
  .btn {
    width: 24px;
    height: 24px;
    align-self: flex-end;
  }
  .wrapper{
    display: flex;
    column-gap: 1rem;
  }
  .cartImage {
    width: 74px;
    height: 74px;
    border-radius: 0.625rem;
    overflow: hidden;
  }
  .cartImage a{
      width: 100%;
      height: 100%;
  }
  .cartImage img {
    width: 100%;
    height: 100%;
  }
  .cartDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1;
  }
  
  .productName {
    color: var(--black);
    font-family: var(--ff-2);
    font-size: 0.875rem;
    font-weight: 400;
  }
  
  .subtotal {
    color: var(--black);
    font-family: var(--ff-2);
    font-size: 0.875rem;
    font-weight: 300;
  }
  
  .price {
    color: #b88e2f;
    font-family: var(--ff-2);
    font-size: 0.75rem;
    font-weight: 500;
  }
  
  @media screen and (min-width: 576px) {
    .cartItem {
      row-gap: 0;
    }
  
    .cartImage {
      width: 105px;
      height: 105px;
    }
  
    .productName,
    .subtotal {
      font-size: 1rem;
    }
  }
  